@import "variables.scss";
@import "mixins.scss";

.message-details {
    position:relative;
    height: 100%;
}

.message-details-header{
    display:flex;
    align-items: center;
    justify-content: center;
    height:175px;
    background-color: $czerwony_kolor;
    color: white;
    @include header-font;
    @include message-details-padding;
    h2{
        display: inline-block;
        font-size: 55px;
    }
    .fa {
        font-size:200%;
        padding-right: 50%;
    }
    .fa:hover   {
        color:lightgray;
    }   
}

.message-details-info{
    @include message-details-padding;
    @include header-font;
    h3{
        display:inline-block;
        width:73%;
    }
    p{
        color: grey;
        width:26%;
        display:inline-block;
    }
}

.message-details-content{
    //background-color: rgba(128, 128, 128,0.3);
    @include message-details-padding;
    font-family: $body_font;
}

#ajaxTarget {
    display: none;
}

.visability {
    display: block !important;
}

.nobutton {
    padding: 0;
    border: none;
    background: none;
    width: 10%;
}