@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Abhaya+Libre&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab&subset=latin,latin-ext);

$zegar_font: 'Raleway', sans-serif;
$czerwony_kolor: #d9534f;
$frontraining_font: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
$boxes_font: 'Abhaya Libre', sans-serif;
$boxes2_font: 'Advent Pro', sans-serif;
$boxes3_font: 'Alegreya Sans SC', sans-serif;
$boxes4_font: 'Arbutus Slab', sans-serif;