@import url(https://fonts.googleapis.com/css?family=Raleway);

$zegar_font: 'Raleway', sans-serif;
$czerwony_kolor: #d9534f;
$frontraining_font: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;