@import "variables.scss";

@mixin maxsize {
    height:100%;
}

@mixin padall($rozmiar,$rozmiar2){
    padding-bottom: $rozmiar2;
    padding-top: $rozmiar;
}

@mixin message-details-padding(){
    padding:0px 40px;
}

@mixin header-font {
    font-family: $header_font;
    font-weight: 300;
}

@mixin boxes-header($font-size) {
    display:inline-block;
    font-size: $font-size;
    color: #8d8d8d;
}