@import "variables.scss";
@import "mixins.scss";

.boxes {
    @include header-font;
    font-size: 14px;
    transition: width 0.5s;
    padding: 1% 2% 1% 3%;
    
    table {
        font-family: $body_font;
        color: $font_color;
    }
}

.boxes-header {
    position:relative;
    h1{
        @include boxes-header(50px);
        letter-spacing:-2px;
        padding-right:5px;
        color: $verylightgrey !important;
    }
    i{
        @include boxes-header(20px);
        position:relative;
        font-weight: 500;
        top:-5px;
        color: $verylightgrey !important;        
    }
}

.right-align {
    text-align: right;
}

.message-navigation{
    padding: 20px 0;

    .fa-stack {
        width: 2.75em !important;
        left: -1%;
    }

    .fa-stack-1x {
        font-size: 12px;
    }

    i{
        color: $czerwony_kolor;   
    }

    i.notworked{
        color: $verylightgrey !important;
    }
}

.checkbox {
    margin: 0;
    label{
        padding-left: 0;
    }
}

.dotstyle{
    text-align: center !important;
}

.scroll-wrapper {
    max-height: 495px;
}

.scroll-content {
    padding-right:10px !important;
}


@media (min-width: 992px){
    #MailBox{
    .col-md-6{
        width:55%;
    }
    #ajaxTarget{
        width:45%;
    }
}
}


