@import "variables.scss";
@import "mixins.scss";
@import "chatmessage.scss";

.chat_menu {
    background-color: $chat_maincolor;
    position:relative;
}

.chat_menu-header{
    background-color: #bbbbbb;
    height:40px;
    @include align-vertical;
    padding:0 15px;
    h3{
        @include h3-font;
        color: white;      
        font-size: 15px;
        font-weight:bold;
    }
}

.chat_menu-nav {
    background-color: white;
    height:100px;
    border-bottom: solid 4px $yellowhr;
    justify-content: center;
    @include align-vertical;
    h3{
        @include h3-font;
        color:$font_color;
        display:none;
    }
}

.chat_menu-people {
    padding: 30px 20px;
    h3{
        @include h3-font;
        font-size:15px;
        font-weight:bold;
        letter-spacing: -1px;
        display: inline;
    } 
    i{
        font-size:15px;
        padding-left: 8px;
        cursor:pointer;
    }
    i:hover{
        color:grey;
    }

    .addFriendOuter {
        position: absolute;
        top: 50%;
        left:15%;
        .addFriend{
            display:none;
            position: absolute;
            width: 175px;
            height: 50px;
            input#friendName{
                margin-bottom: 8px;
                border-radius: 3px;
                border:none;
                color: gray;
            }     
            i{
                position: absolute;
                top: -25px;
                right: 0;
                color: white;               
            }
            i:hover{
                color: black;
            }
            #addButton{
                position: relative;
                right: -113px;
                border: none;
                border-radius: 3px;
                font-family: $header_font;
                color: gray;
            }
            #addButton:hover{
                background-color: black;
                color:white;
            }        
        }
        .addFriendCourtain{
            display: none;
            position:absolute;
            top:-30px;
            left:-20px;
            width: 200px;
            height: 100px;
            background-color: rgba(150,150,150,0.2);
            border-radius: 5px;
        }
    }

    
}

.chat_menu-friendslist {
    a{
        display:inline-block;
    }
}

.chat_menu-peoplelist {
    a{
        display:block;
    }
}

.chat_menu-peoplelist, .chat_menu-friendslist {
    @include chat_usersList();
}


.chat_menu-talks {
    position:absolute;
    bottom:0;
    left:0;
}

.user-active {
    background-color: lightgreen;
    @include chat_accesibilityBoxes();
}
.user-inactive {
    background-color: rgba(150,150,150,0.3);
    @include chat_accesibilityBoxes();
}