@import "variables.scss";
@import "mixins.scss";
@import "chatmessage.scss";

.chat_menu {
    background-color: $chat_maincolor;
    position:relative;
}

.chat_menu-header{
    background-color: #bbbbbb;
    height:40px;
    @include align-vertical;
    padding:0 15px;
    h3{
        @include h3-font;
        color: white;      
        font-size: 15px;
        font-weight:bold;
    }
}

.chat_menu-nav {
    background-color: white;
    height:100px;
    border-bottom: solid 4px $yellowhr;
    justify-content: center;
    @include align-vertical;
    h3{
        @include h3-font;
        color:$font_color;
        display:none;
    }
}

.chat_menu-people {
    padding: 30px 20px;
    h3{
        @include h3-font;
        font-size:15px;
        font-weight:bold;
        letter-spacing: -1px;
        display: inline;
    }
    .fa-stack{
        position:relative;
        left:40%;     
        cursor: pointer;
        color: #e0e0e0;
    }
    .fa-stack:hover{
        color: gray;
    }
    
    .addFriendOuter {
        display: none;
        width:13em;
        position: absolute;
        top: 50%;
        left:15%;
        z-index:2;
        .addFriend{
            display:block;
            position: absolute;
            width: 175px;
            height: 50px;
            input#friendName{
                margin-bottom: 8px;
                border:none;
                color: gray;
            }     
            i{
                position: absolute;
                cursor: pointer;
                top: -25px;
                right: -8%;
                color: white;               
            }
            i:hover{
                color: #e0e0e0;
            }
            #addButton{
                position: relative;
                right: -113px;
                border: none;
                border-radius:2px;
                font-family: $header_font;
                color: gray;
            }
            #addButton:hover{
                background-color: black;
                color:white;
            }        
        }
        .addFriendCourtain{
            display: block;
            position:absolute;
            top:-30px;
            left:-35px;
            width: 16.5em;
            height: 100px;
            background-color: rgba(150,150,150,0.75);
        }
    }

    
}

.chat_menu-friendslist {
    a{
        display:inline-block;
    }
    .delete-user{
        display: inline-block;
        margin-left: 5px;
        color: #e0e0e0;
        cursor: pointer;
    }
    .delete-user:hover{
        color: grey;
    }
}

.chat_menu-peoplelist {
    a{
        display:block;
    }
}

.chat_menu-peoplelist, .chat_menu-friendslist {
    @include chat_usersList();
}


.chat_menu-talks {
    position:absolute;
    bottom:0;
    left:0;
}

.chat_menu-friendelete {
    display:none;
    position: fixed;
    z-index: 10;
    bottom:0;
    right:0;
    background-color: rgba(150,150,150,0.3);
    padding:16px;
    border-radius: 10px 0px 0px 0px;
}

.user-active {
    background-color: lightgreen;
    @include chat_accesibilityBoxes();
}
.user-inactive {
    background-color: rgba(150,150,150,0.3);
    @include chat_accesibilityBoxes();
}