@import "mixins.scss";
@import "variables.scss";

.menu-nav{
    list-style-type:none;
    font-size: 20px;
    @include padall(20px,0px);
    margin-left: -40px;
    font-family: $header_font;
    font-weight:400;
    li{
        padding-bottom: 5px;
        padding-left:15px;
    }
    li:hover{
        padding-bottom: 5px;
        background-color:rgba(65,65,65,0.5);
    }
}

.menu-container {
    position:absolute;
    left:0;
    width:100%;
}

#clock {
    font-family: $header_font;
    font-size: 50px;
    font-weight: 300;
    color: $header_color;
    letter-spacing:-3px;
    @include padall(25px,25px);
    p{
        margin:10px 0 10px !important;
    }
}

#nowadopicu {
    color: none;
}

.navbar-collapse.collapse{
    height:100% !important;
}

.icon-bar{
    background-color:$font_color;
}

.collapse.in {
    display: block !important;
}

.navbar-toggle{
    position: absolute;
    right:0;
    z-index:1;
    border-color: $font_lighter_color;
}

@media (max-width:992px){
    .menu-container{
        position: relative;
    }
    .menu-nav {
        text-align: center;
    }
    .navbar-collapse.collapse {
        height:auto !important;
    }
    .fit-size-toscreen{
        height:auto !important;
        padding-bottom: 30px !important;
    }
}

@media (min-width:992px) and (max-width: 1300px){
    #clock{
        font-size: 40px;
    }
}