@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Roboto');

$czerwony_kolor: #DC3610;
$header_color: #414141;
$header_font: 'Open Sans', sans-serif;
$body_font: 'Roboto', sans-serif;
$verylightgrey: #d2d2d2;
$yellowhr: #ffab00;
$font_color: #666666;
$font_lighter_color:#888888;