@model List<MJmail.Models.Message>

@{
    ViewBag.Title = "Inbox";
}
<div class="row fit-size-toscreen">
    <div class="col-xs-12 col-md-12 fit-size-toscreen boxes">
        <h1>Inbox</h1>
        <div class="message-navigation">
            <button class="btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr><th>Title</th><th>From</th><th>Date</th></tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr id="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem=> item.MailTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.MailFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MailDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="ajaxTarget" class="col-xs-6 col-md-6 fit-size-toscreen nopadding">
    </div>
</div>

<script>
    var msg = new Messages();
    msg.getMessage();
</script>