@model List<MJmail.Models.Message>

@{
    ViewBag.Title = "Outbox";
}


<div class="row fit-size-toscreen">
    <div class="col-xs-6 col-md-6 fit-size-toscreen" style="background-color:#f0f0f0;">
        <h1>Outbox</h1>
        <table class="table table-striped">
            <thead>
                <tr><th>Title</th><th>To</th><th>Date</th></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.MailTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MailTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MailDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="ajaxTarget" class="col-xs-6 col-md-6 fit-size-toscreen">
    </div>
</div>

<script>
    var msg = new Messages();
    msg.getMessage();
</script>

        