@{
    ViewBag.Title = "Outbox";
}
<div class="row fit-size-toscreen">
    <div class="col-xs-6 col-md-6 fit-size-toscreen" style="background-color:#f0f0f0;"><h1>Outbox</h1></div>
    <div class="col-xs-6 col-md-6 fit-size-toscreen" style="background-color:antiquewhite;"><h1>2</h1></div>
</div>
