@using System.Globalization
@using PagedList.Mvc;
@model PagedList.IPagedList<MJmail.Models.Message>

@{
    ViewBag.Title = "Outbox";
}


<div class="row fit-size-toscreen">
    <div class="col-xs-12 col-md-12 fit-size-toscreen boxes">
        <div class="boxes-header">
            <h1>Outbox</h1>
            <i class="fa fa-angle-down"></i>
            <div class="searchBox">
                <div class="searchIcons">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <i class="fa fa-angle-down" id="advSearchButton"></i>
                </div>
                <input id="searchOutbox" class="fa" type="text" value="Search..." />
            </div>
        </div>
        <div class="message-navigation">
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x notworked"></i>
                <i class="fa fa-angle-down fa-stack-1x notworked"></i>
            </span>
            <a href="@Url.Action("Outbox","Messages")">
                <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-refresh fa-stack-1x"></i>
                </span>
            </a>
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x notworked"></i>
                <i class="fa fa-share fa-stack-1x notworked"></i>
            </span>
            <a href="">
                <span class="fa-stack" id="remove_button">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa fa-times fa-stack-1x"></i>
                </span>
            </a>         
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x notworked"></i>
                <i class="fa fa-exclamation fa-stack-1x notworked"></i>
            </span>
        </div>
        @* Tutaj _Partial *@
        <div id="box">
            @Html.Action("Box", "Messages", new { messages = Model })
        </div> 
        @* Koniec _Partial *@
    </div>
    <div id="ajaxTarget" class="col-xs-6 col-md-6 fit-size-toscreen nopadding">
    </div>
</div>


        