@model List<MJmail.Models.Message>

@{
    ViewBag.Title = "Inbox";
}
<div class="row fit-size-toscreen">
    <div class="col-xs-6 col-md-6 fit-size-toscreen" style="background-color:#f0f0f0;">
        <h1>Inbox</h1>
        <table class="table table-striped">
            <thead>
                <tr><th>Title</th><th>From</th><th>Date</th></tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr id="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem=> item.MailTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.MailFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MailDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="ajaxTarget" class="col-xs-6 col-md-6 fit-size-toscreen">
    </div>
</div>

<script>
    $(document).ready(function () {
        $("tr").click(function () {
            var _id = this.id;
            $.ajax({
                type: "GET",
                url: "/Home/Message",
                data: { id: _id },
                success: function (data) {
                    $("#ajaxTarget").html(data);
                },
                error: function () {
                    alert("Nie tak!");
                }
            });
        });
    });
</script>